* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    height: 100vh;
}

.header {
    width: 100%;
    height: 10.45vh; 
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: blueviolet;
}

.pantalla {
    width: 100%;
    height: 80.63vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botones {
    background-color: blueviolet;
    width: 100%;
    height: 8.92vh;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
    
}

.botonpagina {
    width: 15.27%;
    height: 73.68%;
    background-color: rgb(173, 173, 173);
}

.btnperfil {   
    background-color: rgb(185, 185, 185);
    width: 12.72%;
    height: 56.18%;
    position: relative; 
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}
.foto-logo{
    background-color: rgb(185, 185, 185);
    width: 12.72%;
    height: 56.18%;
    position: relative; 
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.rueda {
    width: 50%;
    aspect-ratio: 1/1;
    background-color: blueviolet;
    color: blueviolet;
    margin:10%
}
.proximo-ciclo{
    width: 50%;
    aspect-ratio: 3/1;
    background-color: blueviolet;
    margin:10%
}
.dato-fase{
    width: 50%;
    aspect-ratio: 3/1;
    background-color: blueviolet;
    margin:10%
}