* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    overflow: hidden; 
}

.app {
    width: 100%;
    height: 100dvh; 
    display: flex;
    flex-direction: column;
}

.pantalla {
    width: 100%; 
    display: flex;
    align-items: center; 
    flex-direction: column;
    height: 100dvh;
}

h1{
margin-top: 10dvh;
margin-bottom: 4dvh;
font-size: 4dvh;

}

.tiktok{
    font-size: 2.5dvh;
    justify-self: flex-end;
}

.div-logo{
    width: 60%;
    aspect-ratio: 1/1;
}
.logo{
    max-width: 100%;
    aspect-ratio: 1/1;
}

.botones {
    background-color: #4F349E ;
    width: 50%;
    height: 30dvh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 8dvh;
    margin-bottom: 10dvh;
;}
    

.link {
    width: 100%;
    text-decoration: none;
}

.boton {
    max-width: 80%;
    background-color: rgb(173, 173, 173);
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    padding: 3dvw;
    align-items: center;
    font-size: 3dvh;
}