* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%; 
    padding: 5%;
}
.pantalla{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}
.atrás{
  height: 5dvh;
  aspect-ratio: 1/1;
  background: url(bi_arrow-right-circle-fill\ \(2\).png);
  margin: 2dvh;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  border-width: 0;
}
.siguiente{
  height: 5dvh;
  aspect-ratio: 1/1;
  background-image: url(bi_arrow-right-circle-fill\ \(3\).png);
  margin: 2dvh;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  border-width: 0;
}
.parrafo{
  color: black;
  font-size: 5dvh;
}
.botones{
  display:flex ;
  flex-direction: row;
  justify-content: center;
  height: 12dvh;
}
.preguntas{
  display: flex;
  flex-direction: column;
  width: 80dvw;
  aspect-ratio: 1/1;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
}
.label{
  margin: 2dvh;
  text-align: center;
}
.boton-comenzar{
  height: 3dvh;
  width: 50dvw;
  background-color: blue;
}