* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%; 
    padding: 5%;
}
.atrás{
  height: 10dvh;
  aspect-ratio: 1/1;
  background-color: red;
  border-radius: 50%;
  margin: 1dvh;
}
.siguiente{
  height: 10dvh;
  aspect-ratio: 1/1;
  background-color: green;
  border-radius: 50%;
  margin: 1dvh;
}
.parrafo{
  color: black;
  font-size: 5dvh;
}
.botones{
  display:flex ;
  flex-direction: row;
  justify-content: center;
  height: 12dvh;
}